body {
    margin: 0;
    padding: 0;
    font-family: calibri;
  }
  /* Add a black background color to the top navigation */
  .navbar {
    background: DeepSkyBlue;
    height: 90px;
    width: 100%;
  }
  .navbar ul {
    float: right;
    margin-right: 20px;
  }
  .navbar ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
  }
  /* Style the links inside the navigation bar */
  .navbar ul li a {
    text-decoration: none;
    color: #004962;
    font-size: 23px;
    padding: 6px 13px;
  }
  .navbar ul li a.home,
  .navbar ul li a:hover{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    color: white;
  }
  
  h1 {
    color: #004962;
    margin: 10px 0 20px 0;
    text-align: center;
    padding: 10px 0px;
    font-size: 25px;
    text-decoration: underline;
  }
  
  table {
  text-align:center;
  margin: auto;
  width: 500px;
  height: auto;
    border: 1px solid white;
    border-collapse: collapse;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px black;
    /*overflow-x: auto;*/
  }
  
  thead {
    background: #606060;
    color: white; 
    font-size: 18px;
  }
  tbody tr {
    transition: all .2s ease-in;
    cursor: pointer;
    background: #E0E0E0;
  }
  tbody tr:hover{
    background-color: #FFFFE0;
    transform: scale(1.02);
    
  }
  th,td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid white;
  }
  
  .tables{
    padding: 30px;
    background: #d8f5ff;
  font-size: 18px;
  }
  
  footer {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 18px;
    text-align:center;
    padding: 12px;
  }
  
  /*media query*/
  @media only screen and (max-width: 639px){
    table thead{
      display: none;
    }
    table, table tbody, table tr, table td{
      display: block;
      margin: 0;
      width: auto;
    }
    table tr{
      margin-bottom: 15px; 
    }
    table td {
      text-align: right;
    }
    table td::before{
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
     font-weight: bold;
    }
  }